In [14]:
import pandas as pd

data = {
    'A': [1, 2, 3, 4],
    'B': [5, 6, 7, 8],
    'C': [9, 10, 11, 12]
}

df = pd.DataFrame(data, index=['a', 'b', 'c', 'd'])

In [15]:
df.loc['b':'d']

   A  B   C
b  2  6  10
c  3  7  11
d  4  8  12

In [19]:
df['A'].mean()

2.5

In [12]:
df_csv = pd.read_csv('kota_link.csv')
df_csv

                  kota                                               link
0       Afrika Selatan  https://id.wikipedia.org//w/index.php?title=Da...
1        Afrika Tengah  https://id.wikipedia.org//w/index.php?title=Da...
2             Aljazair  https://id.wikipedia.org//wiki/Daftar_kota_di_...
3               Angola  https://id.wikipedia.org//wiki/Daftar_kota_di_...
4                Benin  https://id.wikipedia.org//wiki/Daftar_kota_di_...
..                 ...                                                ...
194      Selandia Baru  https://id.wikipedia.org//wiki/Daftar_kota_di_...
195  Kepulauan Solomon  https://id.wikipedia.org//w/index.php?title=Da...
196              Tonga  https://id.wikipedia.org//w/index.php?title=Da...
197             Tuvalu  https://id.wikipedia.org//wiki/Daftar_kota_di_...
198            Vanuatu  https://id.wikipedia.org//w/index.php?title=Da...

[199 rows x 2 columns]